/* Common CSS Starts*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #FF7D44;
    --secondary-color: #0B3742;
    --tertiary-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

a.white-space {
    white-space: nowrap;
}

/* Common CSS Ends */

/* slider style starts */

.main-slider>* {
    z-index: 10;
}

.main-slider {
    background: url(images/shipping-banner.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 1s;
    margin-top: -155px;
    z-index: 50;
}

.main-slider:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(11 55 66 / 55%);
    z-index: 1;
}

.slide-content {
    text-align: center;
}

.slide-text {
    color: var(--tertiary-color);
    padding-top: 100px;
}

.slider-title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.slide-text p {
    font-size: 20px;
}

a.common-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--tertiary-color);
    background: var(--main-color);
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 1s ease;
}

a.common-btn:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
}

a.common-btn.outline-btn {
    background: transparent !important;
    border: 1px solid var(--tertiary-color);
}

a.common-btn.outline-btn:hover {
    background: var(--tertiary-color) !important;
}

/* Header style starts */

.header-top {
    z-index: 100;
    background: transparent;
    position: relative;
}

.top-bar,
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tertiary-color);
}

.top-bar {
    padding: 20px 0px;
}

.header-area {
    background: var(--tertiary-color);
    padding: 15px 20px;
    border-radius: 3px;
}

nav ul {
    list-style-type: none;
    color: var(--secondary-color);
    display: flex;
    gap: 1.7rem;
    margin: 0;
}

nav ul a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s;
}

nav ul a:hover {
    color: var(--main-color);
    transition: all 0.5s;
}

.nav-btn {
    align-items: center;
    display: flex;
}

.nav-btn i {
    color: var(--tertiary-color);
    font-size: 21px;
    background: gray;
    padding: 13px 15px;
    border-radius: 5px;
}

/* Headings Styles */

h1 {
    font-size: 56px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 38px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

/* Section Styles */

.py-50,
.common-sec {
    padding-top: 50px;
    padding-bottom: 50px;
}

.common-sec {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.common-sec:nth-child(even):before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border-bottom: 1px solid #f6f6f6;
    z-index: -1;
}

/* Image box style */

.img-box {
    border-radius: 3px;
    transition: 0.5s;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

.img-box img {
    border-radius: 3px;
}

.img-box:last-child {
    margin-bottom: 0;
}

figure.img-box img+figcaption {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    box-shadow: -5px 5px 20px 0 rgb(0 0 0 / 5%);
}

.img-box.img-shadow:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(11 55 66 / 55%);
    border-radius: 3px;
}

/* Video Box */

.video-box {
    position: relative;
}

.video-box img {
    border-radius: 3px;
    width: 100%;
}

.video-btn {
    position: absolute;
    text-align: center;
    color: var(--tertiary-color);
    font-size: 30px;
    border: none;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    box-shadow: none;
    transition: 0.5s;
}

.video-btn .fa-play {
    color: var(--tertiary-color);
    position: relative;
    z-index: 99;
    -webkit-transition: color 0.5s;
    transition: 0.5s;
    text-decoration: none;
    line-height: 80px;
    font-size: 70px;
}

.video-btn:hover {
    color: inherit;
}

.video-btn:hover .fa-play {
    color: var(--main-color);
}

.video-btn:before,
.video-btn:after {
    display: none;
}

/* Common Box Styles */

.common-box {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.common-box>.img-box {
    margin-bottom: 0;
}

.common-box .common-heading:last-child,
.common-box p:last-child,
.common-box ul:last-child,
.common-box ul:last-child li:last-child,
.common-box .img-box:last-child {
    margin-bottom: 0;
}

.common-box>.content {
    padding: 25px;
}

/* Other CSS Starts */

.border-heading {
    border-right: 2px solid #E8E8E8;
}

.sp-title {
    display: flex;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 500;
    align-items: center;
    margin-bottom: 3rem;
}

.sp-title:after {
    content: '';
    width: 20px;
    height: 1px;
    background: var(--main-color);
    flex: 0.1;
    margin-left: 1rem;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.common-box i {
    color: var(--main-color);
    font-size: 48px;
}

.common-box .box-title {
    font-size: 26px;
    font-weight: 500;
}

.common-box:hover {
    background-color: var(--main-color);
    color: var(--tertiary-color);
    transition: all 0.5s ease;
}

.common-box:hover i {
    color: var(--tertiary-color);
    transition: all 1s ease;
}

.exp-section {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exp-section .exp-title {
    color: #FFFF00;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.exp-section .exp-paragraph {
    color: var(--tertiary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.exp-section img {
    width: 155px;
}

a.more-btn {
    display: inline-block;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

a.more-btn:after {
    content: '\f105';
    font-family: 'FontAwesome';
    margin-left: 5px;

}

.common-box:hover a.more-btn {
    color: var(--tertiary-color);
}

/* Service Section */

.service-sec .common-box {
    border-radius: 0px;
}

.service-sec .common-box .box-title {
    font-size: 22px;
    font-weight: 500;
}

/* Why Choose Section */

.why-choose-box .common-box {
    box-shadow: none;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.why-choose-box .common-box:hover {
    background-color: var(--tertiary-color);
    color: #000;
    transition: all 0.5s ease;
}

.why-choose-box .common-box .box-title {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Testimonial Section */

.testimonial-sec {
    background-image: linear-gradient(rgb(11 55 66 / 90%), rgb(11 55 66 / 90%)), url(images/testimonial-bg.png);
    background-size: cover;
    background-position: center;
}

.no-border {
    margin-bottom: 0rem !important;
    font-size: 14px;
}

.no-border:after {
    content: '';
    width: 0px;
    height: 0px;
    background: none;
    margin-left: 0px;
}

.testimonial-heading h3 {
    color: var(--tertiary-color);
}

.testimonial-sec .common-box {
    box-shadow: none;
    height: 100%;
    background-color: transparent;
    border-radius: 0px;
    transition: all 0.5s ease;
    color: #fff;
}